.selectbox-h {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd;
  padding-bottom: 8px;
}
.selectbox-h .btn {
  padding: 0 6px;
  font-size: 12px;
}
.selectbox-h .title {
  display: block;
  overflow: hidden;
  padding: 8px 0;
  margin: 0 8px;
  border-bottom: 1px solid #1ebd83;
}
.selectbox-h .title h3 {
  display: block;
  overflow: inline-hidden;
  float: left;
  background: url(../../images/searchtit.png) left center no-repeat;
  padding-left: 16px;
  font-size: 14px;
  margin: 0 auto;
  line-height: 28px;
}
.selectbox-h .title .selectbtn {
  display: inline-block;
  overflow: hidden;
  float: right;
}
.selectbox-h .info {
  padding: 0px 8px;
}
.selectbox-h .info table {
  display: block;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
}
.selectbox-h .info td {
  list-style-type: none;
  padding-right: 8px;
  padding-bottom: 8px;
  font-size: 12px;
}
.selectbox-h .info td .border-g {
  border: 1px solid #75d4b0;
}
.selectbox-h .info td .w100 {
  width: 100px;
}
.selectbox-h .info td .col-lv {
  color: #268e6b;
}
.selectbox-s {
  display: block;
  overflow: hidden;
  height: 100%;
  border: 1px solid #ddd;
  min-width: 200px;
  padding-bottom: 8px;
  position: relative;
  float: left;
}
.selectbox-s .btn {
  padding: 0 6px;
  font-size: 12px;
}
.selectbox-s .w50 {
  width: 48%;
}
.selectbox-s .title {
  display: block;
  overflow: hidden;
  padding: 8px 0;
  margin: 0 8px;
  border-bottom: 1px solid #1ebd83;
}
.selectbox-s .title h3 {
  display: block;
  overflow: inline-hidden;
  float: left;
  background: url(../../images/searchtit.png) left center no-repeat;
  padding-left: 16px;
  font-size: 14px;
  margin: 0 auto;
  line-height: 28px;
}
.selectbox-s .info {
  display: block;
  overflow: hidden;
  padding: 8px;
}
.selectbox-s .info table {
  display: block;
  width: 100%;
  overflow: hidden;
}
.selectbox-s .info td {
  list-style-type: none;
  padding-right: 8px;
  padding-bottom: 8px;
  font-size: 12px;
}
.selectbox-s .info td .border-g {
  border: 1px solid #75d4b0;
}
.selectbox-s .info td .w70 {
  width: 70px;
}
.selectbox-s .info td .w100 {
  width: 100%;
}
.selectbox-s .info td .col-lv {
  color: #268e6b;
}
.selectbox-s .selectbtn {
  display: block;
  overflow: hidden;
  padding: 0 12px;
  bottom: 0;
}
.headphoto {
  display: block;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: auto;
}
.headphoto img {
  width: 100%;
  vertical-align: top;
}
.headphoto .filename {
  display: block;
  overflow: hidden;
  background: #000;
  width: 100%;
  opacity: .8;
  position: absolute;
  bottom: 0;
  padding: 8px 0;
}
.headphoto .filename a.name {
  display: block;
  margin: 0 4px;
  color: #fff;
  float: left;
  width: 72%;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
}
.headphoto .filename a.delect {
  display: inline-block;
  width: 18%;
  height: 24px;
  margin-right: 4px;
  float: right;
  background: url(../../themes/images/btn-picdel.png) center center no-repeat;
}
.locatebox {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 4px;
  color: #474a54;
}
.locatebox a.home {
  display: inline-block;
  float: left;
  width: 18px;
  height: 30px;
  margin-right: 4px;
}
.locatebox a.home img {
  vertical-align: middle;
  width: 100%;
}
.locatebox a.link {
  margin-right: 8px;
  color: #474a54;
  text-decoration: none;
}
.locatebox a.link span {
  margin-left: 8px;
}
.locatebox a.active,
.locatebox a:hover,
.locatebox a:active {
  color: #fe9003;
}
